/bin/
/build/
/.gradle/
/.classpath
/.project
/.directory
/.settings/
/*.launch
/libs/
/libs-disabled/
/minecraft/
/run/
/src/main/java/cofh/
/src/main/java/gigaherz/
/src/main/java/net/
**/Thumbs.db
/.idea/